//exo font :
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'reset.scss';
@import 'utils.scss';
@import 'components/header.scss';
@import 'components/footer.scss';

main {
  margin: 0 auto;
  max-width: 1144px;
  overflow: hidden;
}
