//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//variable
//COLORS
$dark-blue: #1a4a51;
$light-blue: #cfdde8;
$dark-white: #f6f5f5;
$white: #fbfbfe;
$orange: #eeb05e;
$red: #c85b5b;
//sizes
$size-regular: 1.125em;
$size-title-capsule: 1.25em;
$from-size-folded: 56px;
$all-line-height: 1.5;
//mixins
@mixin link-bottom {
  &__title {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  &__link {
    @include no-style-link;
    text-decoration: underline;
  }
}
@mixin no-text-button {
  text-indent: -9000px;
}
@mixin no-style-link {
  color: inherit;
  text-decoration: none;
}
@mixin search-open {
  color: inherit;
  max-width: 400px;
  padding: 0 3em 0;
}
//box-sizing for all
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
//utils classes
.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

//reset button
button,
input {
  padding: 0;
  border: none;
  text-decoration: none;
  text-align: center;
  background: inherit;
  font: inherit;
}
