@media (max-width: 1120px) {
  .main-contact {
    grid-template-columns: none;
  }
  .dialog-part {
    border-radius: 0;
    min-height: 50vh;
  }
  .contact-form {
    grid-template-areas:
      'firstname firstname'
      'name name'
      'select select'
      'email email'
      'message message';
    &__send {
      grid-column: span 2;
      cursor: pointer;
    }
    margin-bottom: 1em;
  }
  .contact-form_error {
    grid-template-areas:
      'errorfirstname errorfirstname'
      'firstname firstname'
      'errorname errorname'
      'name name'
      'errorobj errorobj'
      'select select'
      'errormail errormail'
      'email email'
      'errormsg errormsg'
      'message message';
  }
}

@media (max-width: 670px) {
  .main-contact {
    font-size: 1em;
  }
}
