.bottom {
  font-size: $size-regular;
  background-color: $white;
  color: $dark-blue;
  line-height: $all-line-height;
  display: flex;
  justify-content: space-around;
  align-items: top;
  padding: 1.33333333em 0 1.33333333em 0;
  &__logo {
    display: block;
  }
  .secondary-navigation {
    @include link-bottom();
    &__list {
      display: flex;
    }
    &__item {
      margin-right: 1em;
    }
  }
  .social-navigation {
    @include link-bottom();
    &__list {
      margin-bottom: 0.25em;
    }
  }
}
