.bottom {
  @include font-opensans;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  padding: 1.33333333em 0 1.33333333em 0;
  &__logo {
    display: block;
  }
  .secondary-navigation {
    @include link-bottom();
    &__list {
      display: flex;
    }
    &__item {
      margin-right: 1em;
    }
  }
  .social-navigation {
    @include link-bottom();
    &__list {
      margin-bottom: 0.25em;
    }
  }
}

@media (max-width: 620px) {
  .bottom {
    flex-direction: column;
    text-align: center;
    &__link {
      margin: 0 auto;
      margin-bottom: 1em;
    }
    .secondary-navigation {
      margin-bottom: 1.5em;
      &__list {
        display: block;
      }
      &__item {
        margin: 0;
        display: block;
      }
    }
  }
}
