.top {
  color: $dark-blue;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 9.72972973%;
  font-size: $size-regular;
  //media queries
  //plus grand que 860px
  @media (max-width: 860px) {
    //background-color: red;
  }
  //plus grand que 1440px
  @media (min-width: 1440px) {
    //background-color: green;
    justify-content: center;
    .main-navigation {
      margin: 0 41px;
    }
  }
  //fin media queries
  .main-navigation {
    max-width: 950px;
    flex: 1;
    &__list {
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }
    &__link {
      @include no-style-link;
      &_current {
        font-weight: 700;
      }
      &:hover {
        font-weight: 700;
      }
    }
  }
  &__logo {
    display: block;
  }

  //Style du formulaire de recherche
  .search-form {
    position: relative;
    &__search-input {
      color: transparent;
      max-width: 56px;
      line-height: 2.88888889em;
      border-radius: 100vh;
      border: 2px solid $dark-blue;
      background-color: transparent;
      transition: all ease-out 0.5s;
      &:focus {
        @include search-open;
      }
    }
    &__submit {
      z-index: 1;
      text-indent: -9999px;
      text-align: left;
      position: absolute;
      right: 0;
      left: 0;
      max-width: 56px;
      line-height: 3.11111111em;
      border-radius: 100vh;
      background: no-repeat center url() transparent;
    }
    &:hover {
      .search-form__search-input {
        @include search-open;
      }
    }
    .focused {
      @include search-open;
    }
  }
}
