/* ********** MEDIA QUERIES ********** */
@media (min-width: 400px) /* +400px */ {
  .capsule-list {
    @include capsule;
  }
}
@media (max-width: 400px) /* -400px */ {
  .capsule-list {
    @include capsule-small;
  }
}
@media (min-width: 2000px) /* +2000px */ {
  .capsule-list {
    grid-template-columns: repeat(4, 368px);
  }
}

@media (max-width: 1160px) /* -1160px */ {
  .capsule-list {
    grid-template-columns: repeat(2, 368px);
  }
  .about-capsule {
    max-width: 756px;
  }
}
@media (min-width: 1160px) /* +1160px */ {
  .presentation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 825px) /* -825px */ {
  .capsule-list {
    grid-template-columns: repeat(1, 368px);
  }
}
