@media (max-width: 900px) {
  .news-preview {
    grid-template-columns: none;
    &__thumbnail {
      margin-bottom: 1em;
      width: 100%;
    }
  }
}
@media (max-width: 670px) {
  .main-news {
    font-size: 1em;
  }
}
