@media (max-width: 670px) {
  .single-new {
    font-size: 1em;
  }
  .single-new {
    &__back-link {
      @include big-button;
      margin: 0 auto 1em;
    }
  }
}
@media (max-width: 600px) {
  .sg-images-container {
    grid-template-rows: none;
  }
}
